# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-wheel-metadata/
.tox/
.coverage
.pytest_cache/
htmlcov/
.ipynb_checkpoints
.mypy_cache/
.dmypy.json
celerybeat-schedule
.vscode/
.idea/

# Database
*.db
*.sqlite3
/articles.db